@media only screen and (max-width: 600px){


/*	main section*/
.main-top{
 top: 35%;
 left:1%;
}

 .main-top{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	left: 12%;
 }

 

 .main-top .m-head h4{
  font-size: 1.5rem;
  margin-top: 2rem;
 }



.main-top-right{
  margin-top: 12rem;
 }


 
/*end main section*/

/*about section*/
.about{
	padding: 2rem;
}

.abcont{
 margin-left: 0;
}
.about-cont{
	flex-direction: column;
}

.about-head{
	
	text-align: center;
}
/*end about section*/

/*skills and expertise*/
.skills-expert{
	flex-direction: column;
}

.skills-expert .seleft h2{
  font-size: 3.2rem;
  margin-top: -8rem;
}

.skills-expert .seleft p{
	text-align: center;
  width: 100%;
  font-size: 1.8rem;
  margin-top: 1.2rem;
}

.sec{
	min-height: 32rem;
}
/*end skills and expertise*/

.footer .footr2,.footer .footr3{
	margin-left: -3rem;
}
	
}