@media only screen and (max-width: 600px){


/*  main section*/
.main-top{
 top: 35%;
 left:1%;
}

 .main-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 12%;
 }

 .data-cont .cont-top .datac1{
  width: 95%;
 border: none;
}

.data-cont .cont-top .datac2{
  margin-left: 1rem;
  margin-top: 2rem;
}


 .main-top .m-head h2{
  width: 100%;
  font-size: 4rem;
 }

 .main-top .m-head h4{
  font-size: 1.5rem;
  margin-top: 2rem;
 }

 .data-cont .cont-top{
  width: 95%;
  flex-direction: column;
  margin: 4rem;
  margin-left: 4rem;
 }

  .data-cont .cont-top .datac{
   
}


.main-top-right{
  margin-top: 12rem;
 }




 
/*end main section*/

.data-head h2{
  padding: 0rem 1rem;
  padding-top: -2rem;
}

.data-head p{
  text-align: center;
}

.data-head p{
  width: 95%;
}

.data-head ul{
  margin-left: -8rem;
  margin-top: 2rem;
}


.data-head .dul{
  width: 100%;
}

.data-mid img{
  width: 100%;
  margin: 0;
  margin-left: 0;
}

.data-head .dul{
  width: 50%;
  display: flex;
/*  margin-left: 4rem;*/
}

.data-mid img{
  width: 100%;
  margin: 0;
  margin-left: 0;
}



  
}