

/*main section*/
#main{
width: 100%;
position: relative;
}

.main{
 width: 100%;
 height: 60rem;
color: black;
/*background-color: #222;*/
}

/*particles*/
 #particles-js{
  background-color: #1f1f2e;
  background-image: url(../images/star.jpg);
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: 100;
 }

  #particles-js:before{
    content: " ";
    background-color: #0d0d26;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    top:0;
     z-index: -1;
  }
/*end particles*/

/*main top*/
 .main-top{
  width: 75%;
  position: absolute;
  z-index: 10000;
  color: white;
  top: 50%;
  left: 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }


 .main-top .m-head h2{
  font-size: 7.8rem;
 }

 .main-top .main-top-right a{
  font-size: 1.5rem;
  color: #b3b3b3;
 }

 .main-top .main-top-right span a{
  color: white;
 }

 .main-top .m-head h4{
  font-size: 2rem;
 }

 .main-top .m-para{
  margin-top: 2rem;
  font-size: 1.7rem;
  text-align: center;
 }

 .main-top .m-para span{
 background-color: #131339;
 padding: 0.2rem 1rem;
 border-radius: 20px;
 font-weight: 800;
 text-transform: uppercase;
 }

 .main-top .btn{
  display: flex;
  margin-top: 2rem;
 }

 .main-top .btn button{
  margin-left: 1rem;
  padding: 2rem;
  font-size: 1.6rem;
  border-radius: 20px;
  transition: 0.3s ease;
 }

  .main-top .btn button:hover{
     background-color: #33334d;
  color: white;
  }
/*end main top*/

/*end main section*/

/*data section*/
#data{
  width: 100%;
  height: 100%;
}

.data{
  .width: 100%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data .abc{
  width: 100%;
  display: flex;
  align-items: center;
}

.data-head{
  flex-direction: column;
  margin-top: 5rem;
}

.data-head h2{
  font-size: 3.4rem;
}

.data-head h2 span{
  color: #000080;
  border-bottom: 2px solid #000080;
}

.data-head p{
  width: 70%;
  margin-top: 2rem;
  font-size: 1.5rem;
  
}


/*data cont section*/
.data-cont{
  display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
background-color: #f2f2f2;
margin-top: 2rem;
}

.data-cont .cont-top,.data-cont .cont-bottom{
  width: 80%;
  height: 25rem;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0rem;
}

.data-cont .cont-top {
  justify-content: center;
  align-items: center;
}

.data-cont .cont-top .datac{
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  border-radius: 10px;
  margin-left: 1rem;
  padding: 1rem;
  margin-bottom: 4rem;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.data-cont .cont-top .datac a{
  color: black;
}


.data-cont .cont-top .datac:hover{
  cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.data-cont .cont-top .datac h2{
 margin-top: 1.3rem;
 font-size: 1.6rem;
 color: black;
}

.data-cont .cont-top .datac p{
  width: 100%;
 margin-top: 1.2rem;
 font-size: 1.3rem;
 color: black;
}

.data-cont .cont-top img{
  width: 30px;
}

.data-cont .cont-bottom{
  margin: 4rem;
}

.data-cont .cont-bottom h1{
  font-size: 2.5rem;
}

.data-cont .cont-bottom ul{
  margin-top: 1.5rem;
}

.data-cont .cont-bottom li{
  font-size: 1.5rem;
}

.data-bot{
  width: 70%;
  padding: 4rem;
}

.data-bot li{
  font-size: 1.4rem;
  margin-left: 1rem;
  padding-top: 1rem;
}

.data-bot ul{
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 40rem;
}

.data-bot h2{
  width: 44%;
  font-size: 2rem;
  border-bottom: 2px solid black;
}

.data-bot p{
  font-size: 1.5rem;
  padding: 1rem;
}





/*end contact section*/
